<div class="center jumbotron">
  <h1>Welcome to the Health App</h1>

  <h3>
    This is the home page for a web app that gives you the best recommendation if you are suffering from an acute diesase and you think that you are about to die. Don't think that 
    we'll save you because you have to die eventually; all we do is just prolong your living years.
    Thank you for visiting :)
  </h3>

  <%= link_to "Sign up now!", new_user_session_path , class: "btn btn-lg btn-primary" %>
</div>



